{{> admin-tabs route='categories'}}
{{!-- *新增主類別 --}}
<div class="mb-3">
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createCategory">
    + 新增主類別
  </button>
  {{!-- ?新增主類別的表單 --}}
  <div class="modal fade" id="createCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5 fw-bold" id="exampleModalLabel">新增主類別</h3>
        </div>
        <form action="/admin/categories" method="POST">
          <div class="modal-body">
            {{!-- 主類別名稱 --}}
            <div class="mb-3">
              <label class="form-label my-auto me-2" style="word-break: keep-all;" for="categoryName">主類別名稱</label>
              <input class="form-control" id="categoryName" type="text" name="categoryName" placeholder="Category Name">
            </div>
            {{!-- 子類別名稱 --}}
            <div class="mb-3">
              <label class="form-label my-auto me-2" style="word-break: keep-all;" for="subCategoryName">子類別名稱</label>
              <input class="form-control" id="subCategoryName" type="text" name="subCategoryName"
                aria-describedby="sub-category-describe" placeholder="Sub Category Name">
              <div class="form-text" id="describe">每個主類別須擁有至少一個子類別</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">新增</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{!-- *類別清單 --}}
<table class="table align-middle table-striped">
  <thead class="table-secondary">
    <tr>
      <th class="col-4" scope="col">主類別</th>
      <th class="col-8" scope="col">子類別</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      {{!-- 主類別 --}}
      <th scope="row">
        <div class="d-flex flex-wrap">
          <h3 class="fw-bold fs-5 my-auto me-2">{{this.name}}</h3>
          <button type="button" class="btn btn-outline-primary btn-sm me-1 my-1" data-bs-toggle="modal"
            data-bs-target="#editCategory-{{this.id}}">編輯</button>
          {{!-- ?編輯主類別的表單 --}}
          <div class="modal fade" id="editCategory-{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/admin/categories/{{this.id}}?_method=PUT" method="POST">
                  <div class="modal-body">
                    <h3 class="fs-2 fw-bold">{{this.name}}</h3>
                    <br>
                    {{!-- 主類別名稱 --}}
                    <div class="mb-3">
                      <label class="form-label my-auto me-2" style="word-break: keep-all;"
                        for="categoryName">將類別名稱修改為</label>
                      <input class="form-control" id="categoryName" type="text" name="categoryName"
                        placeholder="Category Name" value="{{this.name}}">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">修改</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
              class="btn btn-outline-danger btn-sm me-1 my-1" onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？
刪除主類別會同時刪除其相關的子類別`)">刪除</button></form>
          <button type="button" class="btn btn-secondary btn-sm my-1" data-bs-toggle="modal"
            data-bs-target="#createSubCategory-categoryId-{{this.id}}">
            + 新增子類別
          </button>
          {{!-- ?新增子類別的表單 --}}
          <div class="modal fade" id="createSubCategory-categoryId-{{this.id}}" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title fs-5 fw-bold" id="exampleModalLabel">新增子類別</h3>
                </div>
                <form action="/admin/subCategories" method="POST">
                  <div class="modal-body">
                    {{!-- 所屬主類別 --}}
                    <input type="text" class="visually-hidden" name="categoryId" value={{this.id}}>
                    {{!-- 子類別名稱 --}}
                    <div class="mb-3">
                      <label class="form-label my-auto me-2" style="word-break: keep-all;"
                        for="subCategoryName">子類別名稱</label>
                      <input class="form-control" id="subCategoryName" type="text" name="subCategoryName"
                        placeholder="Sub Category Name">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">新增</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </th>
      {{!-- 子類別 --}}
      <td>
        <div class="d-flex flex-wrap">
          {{#each this.subCategories}}
          <div class="d-flex m-2">
            <h4 class="fs-6 me-3 my-auto">◆ {{this.name}}</h4>
            <button type="button" class="btn btn-outline-primary btn-sm me-1" data-bs-toggle="modal"
              data-bs-target="#editSubCategory-{{this.id}}">編輯</button>
            {{!-- ?編輯子類別的表單 --}}
            <div class="modal fade" id="editSubCategory-{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/admin/subCategories/{{this.id}}?_method=PUT" method="POST">
                    <div class="modal-body">
                      <h3 class="fs-2 fw-bold">{{this.name}}</h3>
                      <br>
                      {{!-- 子類別名稱 --}}
                      <div class="mb-3">
                        <label class="form-label my-auto me-2" style="word-break: keep-all;"
                          for="subCategoryName">將子類別名稱修改為</label>
                        <input class="form-control" id="subCategoryName" type="text" name="subCategoryName"
                          placeholder="Sub Category Name" value="{{this.name}}">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                      <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <form action="/admin/subCategories/{{this.id}}?_method=DELETE" method="POST">
              <input type="text" class="visually-hidden" name="categoryId" value={{this.categoryId}}>
              <button type="submit" class="btn btn-outline-danger btn-sm me-1" onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？
*若刪除後主類別底下無其他子類別，也會一同刪除主類別`)">刪除</button>
            </form>
          </div>
          {{/each}}
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>