{{> admin-tabs route='shops'}}
<table class="table align-middle table-striped">
  <thead class="table-info">
    <tr>
      <th scope="col">#</th>
      <th scope="col">商店名稱</th>
      <th scope="col">商店詳情</th>
      <th scope="col">商品數量</th>
    </tr>
  </thead>
  <tbody>
    {{#each shops}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td class="fw-bold">{{this.name}}</td>
      <td class="fw-bold text-danger"><button type="button" class="btn btn-outline-primary fw-bold"
          data-bs-toggle="modal" data-bs-target="#shop-{{this.id}}-Info">
          查看商店資訊
        </button>
        <!-- Modal -->
        <div class="modal fade" id="shop-{{this.id}}-Info" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title fs-5 fw-bold" id="exampleModalLabel">{{this.name}}</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="d-flex
                  modal-body">
                <div class="col-6">
                  <img src="{{this.image}}" class="rounded-circle" style="width: 80%;aspect-ratio: 1/1;" alt="商店頭像">
                </div>
                <div class="col-6 align-self-center" style="word-wrap: break-word;">{{this.introduction}}</div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td class="text-info fw-bold">{{this.productCount}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>