{{!-- name --}}
<div class="form-row mb-3 d-flex">
  <label class="form-label my-auto me-2" style="word-break: keep-all;" for="name">商品名稱</label>
  <input class="form-control" id="name" type="text" name="name" placeholder="Product Name">
</div>
{{!-- image --}}
<div class="form-row mb-3 d-flex">
  <label class="form-label my-auto me-2" style="word-break: keep-all;" for="image">商品照片</label>
  <input class=" form-control form-control-file" type="file" id="image" name="image">
</div>
{{!-- status --}}
<div class="form-row mb-3 d-flex">
  <label class="form-label my-auto me-2" style="word-break: keep-all;" for="status">商品狀態</label>
  <select class="form-select" id="status" name="status">
    <option selected>請選擇商品狀態</option>
    <option value="幾乎全新">幾乎全新</option>
    <option value="狀況良好">狀況良好</option>
    <option value="狀況尚可">狀況尚可</option>
  </select>
</div>
{{!-- price --}}
<div class="form-row mb-3 d-flex">
  <label class="form-label my-auto me-2" style="word-break: keep-all;" for="price">商品價格</label>
  <input type="number" step="1" min="0" class="form-control" id="price" name="price" placeholder="Product Price">
</div>
{{!-- description --}}
<div class="form-row mb-3 d-flex">
  <label class="form-label my-auto me-2" style="word-break: keep-all;" for="description">商品敘述</label>
  <textarea class="form-control" name="description" id="description" placeholder="Product Description"></textarea>
</div>
{{!-- categories --}}
<label class="form-label">商品類別(選填)</label>
{{#each categories}}
<div class="form-row d-flex ps-3 m-2">
  <label class="form-label my-auto me-2 fw-bold">{{this.name}}</label>
  {{#each this.subCategories}}
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="{{this.id}}" value="{{this.id}}" name="categoryId">
    <label class="form-check-label" for="{{this.id}}">{{this.name}}</label>
  </div>
  {{/each}}
</div>
{{/each}}
{{!-- submit button --}}
<div class="my-4">
  <button class="btn btn-outline-success btn-block" type="submit">確認新增</button>
</div>