{{!-- 搜尋欄 --}}
<div>
  <form class="d-flex" action="/products/search" method="get">
    <input class="form-control" type="search" name="KEYWORD" placeholder="Search">
  </form>
</div>
{{!-- 分類表 --}}
<div class="my-3 bg-primary-subtle">
  <ul class="nav nav-pills ps-2">
    <div class="fw-bold my-auto">依類別尋找: </div>
    {{#each categories}}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown" href="#" role="button"
        aria-expanded="false">{{this.name}}</a>
      <ul class="dropdown-menu dropdown-menu-dark">
        {{#each this.subCategories}}
        <li><a class="dropdown-item" href="/products/search?subCategoryId={{this.id}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
{{!-- 商品列表 --}}
<div class="row row-cols-4 align-items-start my-3">
  {{!-- card --}}
  {{#each products}}
  <div class="col my-2">
    <div class="card">
      <a href="/products/{{this.id}}" style="text-decoration: none;">
        <img src="{{this.image}}" class="card-img-top" alt="商品照片">
        <div class="card-body">
          <h5 class="card-title fw-bold text-dark">{{this.name}}</h5>
          <p class="card-text mb-1">{{this.description}}</p>
          <div class="d-flex justify-content-between">
            <p class="card-text fw-bold m-0">{{this.status}}</p>
            <p class=" text-dark m-0">${{this.price}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  {{/each}}
</div>
{{!-- 分頁器 --}}
{{>pagination}}