{{!-- ?商品資訊 --}}
<div class="d-flex row justify-content-center">
  <div class="col-7">
    <img src="{{product.image}}" class="img-fluid rounded border border-3 border-light-subtle" style="width: 100%;"
      alt="商品照片">
  </div>
  <div class="col-5 align-self-end">
    <h1 class="fs-2 fw-bold">{{product.name}}</h1>
    <p class="my-3">{{product.description}}</p>
    <p class="my-3">{{product.status}}</p>
    <p class="my-3 fw-bold">${{product.price}}</p>
    <form action="/users/{{user.id}}/carts" method="POST">
      {{!-- 將productId隱藏並能夠回傳 --}}
      <input type="text" class="visually-hidden" name="productId" value="{{product.id}}">
      <button class="btn btn-primary" type="submit"><i class="fa-solid fa-cart-shopping"></i> 加入購物車</button>
    </form>
  </div>
</div>
{{!-- ?賣場資訊 --}}
<div class="my-3 px-2 bg-primary-subtle rounded-pill border border-3 border-primary">
  <div class="d-flex justify-content-center">
    <div class="col-1 my-auto py-2 d-flex justify-content-center">
      <img src="{{shop.image}}" class="rounded-circle" style="width: 75%;aspect-ratio: 1/1;" alt="商店頭像">
    </div>
    <h1 class="fs-5 fw-bold my-auto mx-2">{{shop.name}}</h1>
    <div class="p-2 my-auto">
      <button type="button" class="btn btn-outline-primary fw-bold" data-bs-toggle="modal" data-bs-target="#shopInfo">
        查看商店資訊
      </button>
      <!-- Modal: 商店介紹 -->
      <div class="modal fade" id="shopInfo" tabindex="-1" aria-labelledby="shopModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5 fw-bold" id="shopModal">{{shop.name}}</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="d-flex
            modal-body">
              <div class="col-6">
                <img src="{{shop.image}}" class="rounded-circle" style="width: 80%;aspect-ratio: 1/1;" alt="商店頭像">
              </div>
              <div class="col-6 align-self-center" style="word-wrap: break-word;">{{shop.introduction}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>