{{!-- ?商店基本資料 --}}
<div class="d-flex justify-content-center">
  <div style="max-width: 200px;">
    <img src="{{shop.image}}" class="img-fluid rounded-circle" style="width: 100%; aspect-ratio: 1/1;" alt="商店頭像">
  </div>
  <div class="mx-3 align-self-end">
    <h1 class="fs-2 fw-bold">{{shop.name}}</h1>
    <p class="my-3">{{shop.introduction}}</p>
    <div class="d-flex">
      <a class="btn btn-outline-danger" href="/shops/{{shop.id}}/edit" role="button">修改商店資訊</a>
    </div>
  </div>
</div>
{{!-- ?商品列表 --}}
<div class="mt-5">
  <div class="d-flex justify-content-center">
    <h1 class="fs-2 fw-bold my-auto">我的商品</h1>
    {{!-- 新增商品 --}}
    <a class="btn btn-primary mx-3" href="/products/create">+ 新增商品</a>
    {{!-- 查看歷史訂單 --}}
    <a class="btn btn-info" href="/shops/{{shop.id}}/orders" role="button">查看歷史訂單</a>
  </div>
  <div class="row row-cols-4 mt-3 align-items-start my-3">
    {{!-- 所有未售出商品 --}}
    {{#each products}}
    <div class="col my-2">
      <div class="card">
        <a href="/products/{{this.id}}" style="text-decoration: none;">
          <img src="{{this.image}}" class="card-img-top" alt="商品照片">
          <div class="card-body p-3">
            <h2 class="card-title fs-5 fw-bold text-dark">{{this.name}}</h2>
            <p class="card-text mb-1">{{this.description}}</p>
            <p class="card-text">{{this.status}}</p>
          </div>
          <div class="card-body d-flex justify-content-between p-3">
            <div>
              <p class=" text-dark">${{this.price}}</p>
            </div>
            {{!-- 編輯 & 刪除 按鈕 --}}
            <div class="d-flex">
              <a href="/products/{{this.id}}/edit" class="btn btn-outline-primary mx-2">編輯</a>
              <form action="/products/{{this.id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger" type="submit" onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)"><i
                    class="fa-regular fa-trash-can"></i></button>
              </form>
            </div>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>