<div>
  <h1 class="fw-bold fs-3 my-2">{{user.name}}的歷史訂單</h1>
  {{!-- 歷史訂單列表 --}}
  <table class="table align-middle table-striped">
    <thead class="table-primary">
      <tr class="text-center">
        <th scope="col">訂單編號</th>
        <th scope="col">訂單總價</th>
        <th scope="col">購買日期</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr class="text-center">
        <th scope="row">{{this.id}}</th>
        <td>$ {{this.totalPrice}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <button type="button" class="btn btn-info" data-bs-toggle="modal"
            data-bs-target="#orderItemsInfo-{{this.id}}">
            詳情
          </button>
          {{!-- modal: 訂單詳情 --}}
          <div class="modal fade" id="orderItemsInfo-{{this.id}}" tabindex="-1" aria-labelledby="orderItemsLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title fs-5" id="orderItemsLabel">訂單編號: {{this.id}}</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {{!-- 該筆訂單的購買商品列表 --}}
                  <div class="mb-3">
                    {{#each this.items}}
                    <div class="border">
                      {{!-- 商品 --}}
                      <div class="d-flex justify-content-between p-2">
                        <div style="max-width: 45px;">
                          <img src="{{this.image}}" class="img-fluid rounded-circle"
                            style="width:100%; aspect-ratio: 1/1;" alt="商店頭像">
                        </div>
                        <p class="mx-2 my-auto">{{this.name}}</p>
                        <p class="mx-2 my-auto">$ {{this.price}}</p>
                      </div>
                      {{!-- 評價 --}}
                      {{#if this.userComment}}
                      <div class="d-flex justify-content-start p-1 align-items-center">
                        <h3 class="fs-6 mb-0">您的評價:</h3>
                        <p class="mx-2 fw-bold mb-0"><i class="fa-solid fa-star"
                            style="color: #FFD43B;"></i>{{this.userComment.score}}</p>
                        <p class="mb-0">{{this.userComment.comment}}</p>
                      </div>
                      {{/if}}
                    </div>
                    {{/each}}
                  </div>
                  {{!-- 寄送資訊 --}}
                  <div class="rounded text-start bg-dark-subtle p-2">
                    <p class="mb-1">收件人姓名: <strong>{{this.receiverName}}</strong></p>
                    <p class="mb-1">收件人電話: <strong>{{this.receiverPhone}}</strong></p>
                    <p class="mb-1">收件人地址: <strong>{{this.receiverAddress}}</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>